<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
</head>

<body><center>
    <form action="signup" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}} <br><br>
        {{form.email.label}}
        {{form.email}} <br><br>
        {{form.password1.label}}
        {{form.password1}} <br><br>
        {{form.password2.label}}
        {{form.password2}} <br><br>
        {{form.first_name.label}}
        {{form.first_name}}<br><br>
        {{form.last_name.label}}
        {{form.last_name}}<br><br>
        Mobile{{form1.mobile}}<br><br>
        Profile Picture{{form1.user_profile_picture}}<br><br>
        



        <input type="submit" value="signup">
    </form></center>
</body>

</html>