<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNIN</title>
</head>

<body><center>
    <form action="signin" method="post">
        {% csrf_token %}
        username <input type="text" name="uname"> <br><br>
        password <input type="text" name="pwd"> <br><br>
        <input type="submit" value="sign in">
       <button type="button"><a href="signup">signup</a></button>
    </form></center>

</body>

</html>